@model CodeFirst_Ef.Models.Adresler
@{
    ViewBag.Title = "Duzenle";
}

<h2> Adres Düzenle</h2>

@using (Html.BeginForm())
{
    <div class="input-group mb-3">
        <span class="input-group-text" id="txtadres">Adres</span>
        @Html.TextAreaFor(x => x.AdresTanım, new { @class = "form-control", placeholder = "Adres Tanımızın", aria_describedby = "txtadres", cols = "30", rows = "10" })
        <br />
        <br />
        <span class="input-group-text" id="ddlKisi">Kişi</span>
        @Html.DropDownListFor(x => x.Kisi.Id, (List<SelectListItem>)ViewBag.kisiler, new { @class = "form-control", aria_describedby = "ddlKisi" })
        <br />
        <br />

    </div>
    <div class="input-group mb-3">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>
    <div class="input-group">

        @if (ViewBag.Result != null)
        {

            <div class="alert alert-@ViewBag.Status" role="alert">
                @ViewBag.Result
            </div>
        }

    </div>
}